@model ProyectoFSD_WebMovies.Models.Director

@{
    ViewData["Title"] = "Editar Director";
}

<h1>Editar Director</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Nacionalidad" class="control-label"></label>
                <input asp-for="Nacionalidad" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
            </div>
            @if (!string.IsNullOrEmpty(Model.ImagenRuta)) //Mostrar la imagen actual antes del input
            {
                <div class="form-group">
                    <label>Imagen actual Director:</label><br />
                    <img src="@Model.ImagenRuta" alt="Imagen actual" style="width:100px;height:auto;" />
                </div>
            }
            <div class="form-group">
                <label>Cambiar Imagen del Actor</label>
                <input type="file" name="ImagenArchivo" class="form-control" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
