@model ProyectoFSD_WebMovies.Models.Actor

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>
<hr />
<div class="row">
    <h4>Actor/Actriz</h4>
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group my-2">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <label asp-for="Biografia" class="control-label"></label>
                <textarea asp-for="Biografia" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Biografia" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" type="date" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>

            @if (!string.IsNullOrEmpty(Model.ImagenRuta))
            {
                <div class="form-group my-2">
                    <label>Imagen actual actor/actriz:</label><br />
                    <img src="@Model.ImagenRuta" alt="Imagen actual" style="width:200px;height:auto;" />
                    <span asp-validation-for="ImagenRuta" class="text-danger"></span>
                </div>
            }

            <div class="form-group my-2">
                <label asp-for="ImagenArchivo" class="control-label">Cambiar Imagen del Actor</label>
                <input asp-for="ImagenArchivo" type="file" accept=".jpg,.jpeg,.png" class="form-control" />
                <span asp-validation-for="ImagenArchivo" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="my-3 ">
    <a asp-action="Index">Volver a "Actores"</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
